-- Terminate all active connections to the database
USE master;
GO
IF DB_ID('GroceryStoreDB') IS NOT NULL
BEGIN
    ALTER DATABASE GroceryStoreDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE GroceryStoreDB;
END;
GO

-- Make a database
CREATE DATABASE GroceryStoreDB;
GO

USE GroceryStoreDB;
GO

-- Users Table
CREATE TABLE Users (
    userID INT IDENTITY PRIMARY KEY,
    username NVARCHAR(50) NOT NULL UNIQUE,
    firstName NVARCHAR(50) NOT NULL,
    lastName NVARCHAR(50) NOT NULL,
    address NVARCHAR(255),
    email NVARCHAR(100) NOT NULL UNIQUE,
    phoneNumber NVARCHAR(15),
    password NVARCHAR(255) NOT NULL
);

-- Products Table
CREATE TABLE Products (
    productID INT IDENTITY PRIMARY KEY,
    name NVARCHAR(100) NOT NULL,
    description NVARCHAR(255),
    price DECIMAL(10, 2) NOT NULL,
    images NVARCHAR(MAX),
    manufacturer NVARCHAR(100),
    dimensions NVARCHAR(50),
    weight DECIMAL(10, 2),
    rating DECIMAL(3, 2) CHECK (rating BETWEEN 0 AND 5),
    SKU NVARCHAR(50) UNIQUE NOT NULL,
    categoryID INT,
    stock INT NOT NULL CHECK (stock >= 0)
);

-- Discounts Table
CREATE TABLE Discounts (
    discountID INT IDENTITY PRIMARY KEY,
    discountCategory NVARCHAR(100),
    specificProductDiscount INT REFERENCES Products(productID) ON DELETE CASCADE,
    discountPercent DECIMAL(5, 2) CHECK (discountPercent BETWEEN 0 AND 100),
    discountStartDate DATE NOT NULL,
    discountEndDate DATE NOT NULL,
    discountCode NVARCHAR(255)
);

-- Checkout Cart Table
CREATE TABLE CheckoutCart (
    cartID INT IDENTITY PRIMARY KEY,
    userID INT NOT NULL REFERENCES Users(userID) ON DELETE CASCADE,
    productID INT NOT NULL REFERENCES Products(productID) ON DELETE CASCADE,
    quantity INT NOT NULL CHECK (quantity >= 0),
);

-- Categories Table
CREATE TABLE Categories (
    categoryID INT IDENTITY PRIMARY KEY,
    categoryName NVARCHAR(100) NOT NULL UNIQUE
);

-- Add Foreign Key to Products Table
ALTER TABLE Products
ADD FOREIGN KEY (categoryID) REFERENCES Categories(categoryID) ON DELETE SET NULL;

-- Sample Data Insertion
-- Insert Categories
INSERT INTO Categories (categoryName) VALUES
('Electronics'),
('Clothing'),
('Home Appliances');

-- Insert Users

-- Insert Products

-- Insert Checkout Cart
INSERT INTO CheckoutCart (userID, productID, quantity) VALUES
(1, 1, 1),
(2, 3, 2),
(3, 5, 1),
(4, 7, 2),
(5, 9, 3);

-- Show All Tables 
-- UNCOMMENT IF NEEDED 
-- select * from Users;
-- select * from Products;
-- select * from Discounts;
-- select * from CheckoutCart;
-- select * from Categories;
